*{
    margin:0; padding: 0; box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right , #161515, rgb(68, 28, 20));
}
h1{
    text-align: center;
    text-transform: capitalize;
    margin: 20px;
    color: white;

}
h2{
    text-align: left;
    color: white;
    padding: 30px;
}
.date-today{
    width: 100%;
    padding: 30px;
}
.type-date{
    
    margin-left: 20px;
}
input{
    padding: 10px;
}